mat2 rotationMatrix(float angle)
{
	angle *= pi / 180.0;
    float s=sin(angle), c=cos(angle);
    return mat2( c, -s, s, c );
}

vec4 pal( in float t, in vec3 a, in vec3 b, in vec3 c, in vec3 d )
{
    vec3 cc = a + b*cos( 6.28318*(c*t+d) );

    return vec4(cc.x,cc.y,cc.z,1.);
}

float gyroid(vec3 p, float scale, float thickness)
{
    p *= scale;
    return abs(dot(sin(p*(abs(cos(iTime*.01)*0.1)+1.)), cos(p.zxy*1.))/scale-thickness);
}

void mainImage( out vec4 fragColor, in vec2 fragCoord )
{

    vec2 uv = (fragCoord-.5*iResolution.xy)/iResolution.y;

    vec4 cols = vec4(0);

    uv.xy += sin(iTime*0.0015)*cos(iTime*0.0017); //pan
    uv.xy *= abs((sin(iTime*0.01)))*0.08 + 0.1; //zoom

    uv *= rotationMatrix( 10. * cos(iTime*.01) ); //rotate

    uv *= 1.5;

    float d = gyroid(vec3(uv.x, uv.y, iTime*.001), 20., .02);

    cols += (0.5 + (d*6.)) *0.5;

    d = gyroid(vec3(uv.y, uv.x, iTime*.01)*1.5, 20., .02);

    cols += (0.5 + (d*6.)) * 0.5;

    //vectors taken from http://dev.thi.ng/gradients/

    cols *= pal( uv.x, vec3(0.948, 0.778, 0.638),vec3(0.358, 0.000, 0.500),vec3(0.500, 0.000, 0.500),vec3(0.000, 0.000, 0.500) );

